.loadouts-dialog {
    width: 768px;
    min-width: 512px;
    margin: 0;
}

.loadouts-dialog-caption {
    max-width: 100vw;
    box-sizing: border-box;
    padding: 1.5rem;
}

.loadout-slot {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5em 0;
    padding: 8px;
    min-height: 64px;
    background: #0001;
    cursor: pointer;

    box-sizing: border-box;
    max-width: 100vw;
    flex-wrap: wrap;
}

.loadout-slot-number-container {
    margin: 8px;
    position: relative;
}

.loadout-slot-number-container .loadout-slot-trash-btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.loadout-trash-enabled.loadout-slot-number-container .loadout-number-container {
    opacity: 1;
}
.loadout-trash-enabled.loadout-slot-number-container:hover .loadout-number-container {
    opacity: 0;
}
.loadout-trash-enabled.loadout-slot-number-container .loadout-slot-trash-btn {
    opacity: 0;
}
.loadout-trash-enabled.loadout-slot-number-container:hover .loadout-slot-trash-btn {
    opacity: 1;
}

.loadout-slot .character-build {
    margin: 0 16px;
}

.desktop .loadout-slot .loadout-slot-actions {
    opacity: 0;
}

.loadout-slot-actions i.clickable {
    margin: 8px;
    font-size: 32px;
}

.loadout-slot:hover {
    background: #fff1;
    box-shadow: 0 0 0.2em #fff4;
}

.loadouts-dialog-saving .loadout-slot.loadout-slot-changed {
    background: #0cf2;
    box-shadow: 0 0 0.2em #0cf4;
}

.loadouts-dialog-saving .loadout-slot.loadout-slot-changed:hover {
    background: #0cf3;
    box-shadow: 0 0 0.2em #0cf6;
}

.desktop .loadout-slot:hover .loadout-slot-actions {
    opacity: 1;
}

input.loadout-slot-name {
    background: transparent;
    border: none;
    box-sizing: border-box;
    color: #eee;
    flex-basis: 10em;
    flex-shrink: 1;
    flex-grow: 1;
}

@media (max-width: 512px) {
    .loadout-slot .character-build canvas.spell-icon {
        height: 24px !important;
        width: 24px !important;
    }

    .loadout-slot-name {
        display: none;
    }
}

.loadouts-dialog-action-row {
    max-width: 100vw;
    padding: 1.5rem;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.loadouts-dialog-action-row > div {
    margin-left: 1em;
}