@import '../common.scss';

.party-mode-row {
    display: flex;
    align-items: center;

    font-size: 120%;
    background: #333;
    padding: 20px;
    margin: 12px 0;

    cursor: pointer;

    transition: background-color 0.2s ease;

    border: 1px black solid;
    @include floatShadow();
}

.party-mode-row:hover {
    background: #555;
}

.party-mode-row .party-mode-label {
    margin-left: 0.5em;
;
}

.party-mode-row.party-mode-selected {
    background: #2e8;
}

.party-qr {
    float: right;
}
