@import '../common.scss';

.party-invite {
    color: #ccc;
    font-size: 75%;
}

.home .party-list .settings-icon {
    margin-left: 0.25em;
}

.party-list .party-member {
    display: inline-block;
    background-color: #fff3;
    padding: 3px 15px;
    border-radius: 15px;
    margin-right: 5px;

    transition: background-color 0.2s ease, opacity 0.2s ease;

    border: 1px black solid;
    @include floatShadow();
}

.party-list .party-member-ready {
    background-color: #2e8e;
}

.party-member-editable .settings-icon {
    cursor: pointer;
}

.party-list .settings-icon:hover {
    color: #00ccff;
}

.party-list .party-member :nth-child(n+2) {
    margin-left: 0.5em;
}

.party-member-editable .check-icon {
    cursor: pointer;
}

.party-member .check-icon:hover {
    color: white;
}

.party-member.party-member-observing {
    opacity: 0.5;
}

.party-panel .party-member {
    display: flex;
    align-items: center;
    font-size: 120%;
    padding: 20px;
    margin: 12px 0;

    border: 1px black solid;
    @include floatShadow();

    background-image: linear-gradient(
        160deg,
        #fff0,
        #fff2 30%,
        #fff0 30%,
        #fff3 85%,
        #fff1 85%,
        #fff2);

}
