@import '../common.scss';

.spell-config .key {
    box-sizing: border-box;
    display: flex;
    margin-bottom: 60px;
    height: 250px;
    align-items: center;

    box-shadow: 5px 5px 5px black;

    background: #888 linear-gradient(120deg,
        #000c 0%,
        #0008 20%,
        #0004 30%,
        #0004 50%,
        #0008 70%,
        #000c 100%);
    transition: background-color 0.2s ease;
}

.spell-config .key:hover {
    background-color: #555;
    background-color: var(--spell-color);
    box-shadow: 0 0 8px var(--spell-color);
}

.spell-config .key-name-container {
    position: relative;
    min-width: 200px;
    height: 100%;

    background:#0002;
    color: white;

    display: flex;
    align-items: center;

    pointer-events: all;
    cursor: pointer;

    transition: background-color 0.2s ease, color 0.2s ease;

    @include strokeShadow(4px 4px #0008);
}

.spell-config .key-name-container:hover {
    background: #fff4;
    box-shadow: 0 0 8px #fff4;
    animation: shine-loop 0.5s alternate infinite linear;
}

.spell-config .key-name {
    flex-grow: 1;

    font-weight: bold;
    font-size: 700%;
    text-transform: uppercase;
    text-align: center;
}

.spell-config .key-name-container .rebind-help {
    opacity: 0;

    position: absolute;
    bottom: 0;
    margin-bottom: 5px;

    width: 100%;
    text-align: center;

    font-size: 80%;
    color: #ccc;

    transition: opacity 0.2s;
}

.spell-config .key-name-container:focus .rebind-help {
    opacity: 1;
}

.spell-config .key-detail-container {
    height: 100%;
    flex-grow: 1;
    position: relative;

    display: flex;
    align-items: center;
}

.spell-config .key-detail-container .randomize-btn {
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 20px;
    padding: 0;
    font-size: 75%;
    
}

.page .spell-config .key .key-detail-container .randomize-btn {
    opacity: 0;
    transition: opacity 0.2s;
}

.page .spell-config .key:hover .key-detail-container .randomize-btn {
    opacity: 1;
}

.spell-config .key-detail {
    margin-left: 0px;
    margin-right: 50px;
}

.spell-config .spell-stats {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
}

.spell-config .key-saved {
    color: #88ff00;
    font-weight: bold;
    margin-top: 30px;
}

.spell-name {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 250%;

    @include strokeShadow(4px 4px #0008);
}

.spell-config .spell-name {
    margin-bottom: 0.2em;
}

.spell-config .spell-description {
    margin-bottom: 0.5em;
}

.spell-effect {
    font-size: 75%;
    margin-bottom: 0.5em;
    color: #ddd;
    font-style: italic;
}

.spell-config .spell-effect > i {
    display: inline-block;
    text-align: center;
    min-width: 1.25em;
}

.spell-config .key-options {
    margin-left: 20px;
    width: 120px;

    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
}

.spell-config .key-options-row {
    position: relative;
    height: 56px;
}

.spell-config .spell-icon {
    position: absolute;
    top: 0;

    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 4px 4px 2px #0004;
    border: 1px #444 solid;

    transition: border 0.2s ease;
}

.spell-config .spell-icon-secondary {
    border-color: #444;
}

.spell-config .spell-icon-chosen {
    border-color: #555;
}

.spell-config .spell-icon:hover {
    border-color: #ccc;
    box-shadow: 0 0 4px #fff8;
    animation: spell-hover-loop alternate 0.5s infinite linear;
}

@keyframes spell-hover-loop {
    from { filter: brightness(1.5) }
    to { filter: brightness(1) }
}

@media (max-width: 768px) {
    .spell-config .key-detail {
        margin-right: 15px;
    }

    .spell-config .key-name-container {
        display: none;
    }
}
