.modal-panel-container {
    position: fixed;

    background-color: #0008;

    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    backdrop-filter: blur(0.2em);
}

.modal-panel {
    max-width: 1024px;
    max-height: 100vh;
    overflow: hidden auto;

    background: #333 linear-gradient(
        160deg,
        #fff0,
        #fff2 30%,
        #fff0 30%,
        #fff3 85%,
        #fff1 85%,
        #fff2);

    box-sizing: border-box;
    border: 1px #0001 solid;
    box-shadow: 0.2em 0.2em 0.1em #0004;

    animation: fly-from-top 0.1s ease;
}

.modal-panel-title-bar {
    font-size: 150%;
    font-weight: bold;

    display: flex;
    flex-direction: row;

    margin: 1.5rem;
}

.modal-panel-body {
    margin: 1.5rem;
}