.social-bar {
    display: flex;
}

@media (max-width: 790px) {
    #game-panel .social-bar {
        display: none;
    }
}

@media (max-width: 512px) {
    .social-bar {
        display: none;
    }
}

.social-bar {
    position: absolute;
    bottom: 20px;
    right: 20px;

    a, a:visited {
        color: #eee4;
        font-size: 250%;
        margin-left: 0.2em;
    }

    a:hover, a:active {
        color: #eee;
        text-shadow: 0 0 8px #fff8;
    }
}