body {
    background: #111;
    font-family: sans-serif;
    font-size: 14pt;
    color: white;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input {
    padding: 10px;
    font-size: 14pt;
    width: 500px;
}

a, a:visited {
    color: #00ccff;
}
a:hover, a:active {
    color: #ff8800;
}

#info-panel {
    position: absolute;
    top: 8;
    right: 8;

    text-align: right;
}

#messages-panel {
    position: absolute;
    bottom: 80;
    left: 8;

    pointer-events: none;
}

.player-name {
    font-weight: bold;
}