body {
    background: #111;
    font-family: sans-serif;
    font-size: 14pt;
    color: white;
}

input {
    padding: 10px;
    font-size: 14pt;
    width: 500px;
}

a, a:visited {
    color: #00ccff;
}
a:hover, a:active {
    color: #ff8800;
}

.controls {
    text-align: right;
}