body {
    background: #111;
    font-family: sans-serif;
    font-size: 14pt;
    color: white;

    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body.game {
    width: 100%;
    height: 100%;

    padding: 0;
    margin: 0;

    position: fixed;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}

body .page {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 300px;
}

#game-panel {
    width: 100%;
    height: 100%;
}

#game-panel .exit-link {
    position: absolute;
    top: 8px;
    left: 8px;
    font-size: 20px;
}

#canvas-container {
    width: 100%;
    height: 100%;
}

canvas.game {
    background: transparent;
    cursor: crosshair;
    position: absolute;
    top: 0;
    left: 0;
}

#glows {
    filter: blur(5px);
}

input {
    padding: 10px;
    font-size: 14pt;
    width: 100%;
}

a, a:visited {
    color: #00ccff;
}
a:hover, a:active {
    color: #ff8800;
}

.loading-text {
    animation: loading-text-animation alternate 4s infinite;
}

@keyframes loading-text-animation {
    from { color: white; }
    to { color: #888; }
}

.btn {
    pointer-events: all;
    font-weight: bold;
    cursor: hand;
    text-align: center;
    box-shadow: 3px 3px 3px #0c0c0c;
    text-shadow: 1px 1px 1px black;
    background: #00ccff;
    padding: 10px 40px;
}

.btn:hover {
    background: #ff8800;
}

.btn:active {
    box-shadow: none;
}

.root-panel {
    display: flex;
    flex-direction: column;
}

.navbar {
    min-height: 50px;
    display: flex;
}

.navbar .nav-item {
    font-size: 20px;
    padding: 15px 20px;
    cursor: hand;
    font-weight: bold;
}

.navbar .nav-item:hover {
    color: #ff8800;
}

.navbar .nav-item-selected {
    color: #00ccff;
}

.spacer {
    flex-grow: 1;
}

.content-container {
    flex-grow: 1;
    max-height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.home {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.home .title {
    font-size: 100px;
    font-weight: bold;
    margin-bottom: 40px;
}

.home .button-row {
    display: flex;
    margin: 20px auto;
}

.home .btn {
    width: 250px;
    font-size: 40px;
    margin: 0px 50px;
}

.home .fold-indicator {
    font-size: 50px;
    font-weight: bold;
    animation: fold-animation alternate 1s infinite;
}

@keyframes fold-animation {
    from { color: #888; }
    to { color: white; }
}

#info-panel {
    position: absolute;
    top: 8;
    right: 8;

    text-align: right;
}

.settings-link {
    font-size: 80%;
}

.player-list-title {
    font-size: 80%;
}

.player-list .waiting-for-players {
    margin-right: 4px;
}

.player-list .player-icons {
    margin-right: 4px;
}

#messages-panel {
    position: absolute;
    bottom: 8;
    left: 8;
    min-width: 30%;

    pointer-events: none;
}

#messages-panel .row {
    animation-name: fade-out;
    animation-duration: 15s;
    animation-fill-mode: both;
}

@keyframes fade-out {
    from { opacity: 1.0 }
    75% { opacity: 1.0 }
    to { opacity: 0.0 }
}

#messages-panel .error {
    color: red;
    font-weight: bold;
}

#messages-panel .help-text {
    font-weight: bold;
}

#messages-panel .game-started {
    font-weight: bold;
}

#messages-panel .winner {
    margin: 30px 0;
    padding: 20px;
    background: linear-gradient(to right, #111, rgba(0,0,0,0));
}

#messages-panel .winner-row {
    font-weight: bold;
    font-size: 150%;
    margin-bottom: 30px;
}

#messages-panel .action-row {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

#messages-panel .new-game-btn {
    font-size: 150%;
}

.player-name {
    font-weight: bold;
}

.room-name {
    font-weight: bold;
}

.private-room {
    font-weight: bold;
}

h1 {
    margin-top: 100px;
    font-size: 36pt;
}

h2 {
    margin-top: 36px;
    margin-bottom: 0px;
    font-size: 24pt;
}

.spell-config .key {
    display: flex;
    margin-bottom: 30px;
    background: #333;
    height: 200px;
    align-items: center;

    box-shadow: 5px 5px 5px black;
}

.spell-config .key-name-container {
    min-width: 200px;
    height: 100%;
    margin-left: 50px;

    background:#222;
    color: white;

    display: flex;
    align-items: center;
}

.spell-config .key-name {
    flex-grow: 1;

    font-weight: bold;
    font-size: 100pt;
    text-transform: uppercase;
    text-align: center;
}

.spell-config .key-detail {
    flex-grow: 1;
    margin-left: 50px;
}

.spell-config .key-saved {
    color: #88ff00;
    font-weight: bold;
    margin-top: 30px;
}

.spell-config .spell-name {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 36pt;
    margin-bottom: 12pt;
}

.spell-config .key-options {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 20px;
}

.spell-config .spell-icon {
    margin: 4px;
    cursor: hand;
    border: 3px transparent solid;
    box-shadow: 2px 2px 3px #222;
}

.spell-config .spell-icon-chosen {
    opacity: 1.0;
    border: 3px #222 solid;
}

.spell-config .spell-icon-not-chosen {
    opacity: 0.5;
}

.spell-config .spell-icon:hover {
    border: 3px white solid;
    opacity: 1.0;
}

.game-list {
    background: #333;
    box-shadow: 5px 5px 5px black;
}

.game-list table {
    border-collapse: collapse;
}

.game-list col.timestamp {
    width: 200px;
}

.game-list col.actions {
    width: 200px;
}

.game-list table thead {
    background: #222;
}

.game-list tr:hover {
    background: #555;
}

.game-list th, .game-list td {
    padding: 20px;
    text-align: left;
}