@import '../common.scss';

.game-list .game-card {
    position: relative;
    margin-bottom: 1em;

    display: flex;
    flex-direction: column;

    transition: background-color 0.2s ease;

    border: 1px black solid;
    border-radius: 5px;
    @include floatShadow();
}

.game-list .game-card .game-summary {
    background: #fff2;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.game-list .game-card .game-summary:hover {
    background: #fff3;
}

.game-list .game-card .game-info {
    margin: 20px;
}

.game-list .game-card .label {
    color: #aaa;
    font-size: 80%;
    margin-bottom: 0.25em;
}

.game-list .player-cell i {
    margin-right: 2px;
}

.game-list .player-cell .winner {
    font-weight: bold;
    color: #00ccff;
}

.game-list .player-cell .loser.known {
    font-weight: normal;
    color: white;
}

.game-list .player-cell .loser.unknown {
    font-weight: normal;
    color: #ccc;
}

.game-list .player-cell .known:hover {
    color: #f80 !important;
}

.game-list .game-card .player-list {
    text-align: left;
    font-size: 120%;
}

.game-list .rating-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.game-list .expander {
    font-size: 300%;
    opacity: 0;
    cursor: pointer;

    transition: opacity 0.2s ease;
}

.game-list .game-card:hover .expander {
    opacity: 1;
}

.game-list .rating {
    margin: 20px;
    font-size: 200%;
    font-weight: bold;
}

.game-list .game-card .game-detail {
    display: flex;
    flex-direction: column;

    transition: background-color 0.2s ease;
}

.game-list .game-card .adjustment-detail {
    background: #fff1;
    display: flex;
    flex-direction: row;
    align-items: center;

    transition: background-color 0.2s ease;
}

.game-list .game-card .adjustment-detail:hover {
    background: #fff3;
}

.game-list .game-card .adjustment-label {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.game-list .game-card .adjustment-label .adjustment-label-title {
    font-weight: bold;
}

.game-list .game-card .adjustment-label .adjustment-label-subtitle {
    color: #ccc;
    font-size: 75%;
}
