.recording-status-panel {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 8;
}

.recording {
    font-weight: bold;
    color: red;
    animation: recording-animation alternate 0.5s infinite;
}

@keyframes recording-animation {
    0% { opacity: 1; }
    75% { opacity: 1; }
    100% { opacity: 0.75; }
}
