.navbar-container {
    flex-shrink: 0;
    width: 100%;
}

.navbar {
    align-items: center;
}

.navbar-horizontal {
    display: flex;
    width: 100%;
}

.navbar-vertical {
    display: none;

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: auto;

    display: none;

    flex-direction: column;
    z-index: 100;

    background: #333;
    box-shadow: 0px 0px 5px black;
}
.navbar-vertical.navbar-open {
    display: flex;
}

.navbar .nav-item {
    display: flex;
    align-content: center;
    align-items: center;

    color: white;
    font-size: 20px;
    box-sizing: border-box;
    height: 50px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;

    transition: background-color 0.2s ease, color 0.2s ease;
}
.navbar .nav-item.error {
    color: #ff0000;
}
.navbar .nav-item.nav-item-disabled {
    cursor: not-allowed;
    color: #888;
}
.navbar.navbar-vertical .nav-item {
    font-size: 100%;
}

.navbar .separator {
    padding: 0.5em;
}

@media (max-width: 768px) {
    .navbar .nav-item.nav-optional {
        display: none;
    }
}

.navbar-horizontal .nav-item {
    padding: 0px 20px;
}

.navbar-vertical .nav-item {
    width: 100%;
    padding: 10px 20px;
}

.navbar .login-btn {
    background: #00ccff;
    cursor: pointer;
    box-shadow: 3px 3px 3px #0c0c0c;
    text-shadow: 1px 1px 1px black;
}

.navbar .nav-item.login-btn:hover {
    background: #f80;
    box-shadow: 0 0 8px #f808;
    color: white;
    animation: shine-loop 0.5s alternate infinite linear;
}

.navbar .nav-profile-item {
    background: #4448;
}

.navbar .nav-item .nav-item-label {
    position: relative;
}

.navbar-vertical .nav-item-label .icon {
    width: 1em;
    margin-right: 1em;
}

.navbar .nav-item .nav-item-label .badge {
    position: absolute;
    top: 0;

    /* font-size + margin */
    right: -12;
    font-size: 10px;

    color: #00ccff;
}

.navbar .nav-item.error .nav-item-label .badge {
    color: #ff0000;
}

.navbar .nav-item:hover .nav-item-label .badge {
    color: #fff;
    animation: shine-loop 0.5s alternate infinite linear;
}

.navbar .nav-item:hover {
    background: #0cf;
    color: #fff;
    box-shadow: 0 0 8px #0cf8;
    animation: shine-loop 0.5s alternate infinite linear;
}

.navbar .nav-item-selected {
    color: #00ccff;
}

.navbar .nav-item.logging-in {
    opacity: 0.5;
}

.navbar .nav-item-ranking {
    background: #3338;
    font-weight: normal;
}

.navbar .nav-item-unranked-toggle {
    font-weight: normal;
}